body{
    margin: 0;
    padding: 0 10px;
    font-family: 'Garamond';
}
a{
    text-decoration: none;
    color: black;
}
p{
    margin: 0;
}
header{
    padding: 0 30px;
    display: flex;
}
header>nav>div{
    width: 70%;
}
header>nav{
    display: flex;
    width: 80%;
    position: relative;
    align-items: baseline;
}
header>ul, header>nav>div>ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 23px;
    display: flex;
    flex-wrap: wrap;
}
header>nav>div>ul>li{
    margin-left: 5%;
}
header>nav>h1{
    text-transform: uppercase;
    font-weight: bold;
}
header>ul:last-child{
    width: 30%;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
}
header>ul:nth-child(2)>li div{
    margin: 0 10px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 21px;
    width: 21px;
}
header>ul:nth-child(2)>li:first-child div{
    background-image: url(./icons/twitter-128.png);
}
header>ul:nth-child(2)>li:nth-child(2) div{
    background-image: url(./icons/facebook-128.png);
}
header>ul:nth-child(2)>li:nth-child(3) div{
    background-image: url(./icons/instagram-2-128.png);
}
header>ul:nth-child(2)>li:nth-child(4) div{
    background-image: url(./icons/youtube-128.png);
}
header>ul:nth-child(2)>li:last-child div{
    background-image: url(./icons/gmail-128.png);
}
@font-face{
    font-family: 'Garamond';
    src: url(./fonts/Garamond.TTF);
}
hr{
    margin: 0;
    border: 1px solid rgb(219, 219, 219);
}

.subtext{
    font-size: 15px;
}
main{
    text-align: center;
}
main>h3, aside>h5{
    margin: 40px auto;
}
main>h3, aside>h4, aside>h5{
    font-weight: 500;
    font-size: 36px;
}
main>div>div h2, main>div>div h1{
    margin: 0;
    font-weight: 400;
}
main>div>div h1{
    font-size: 36px;
}
main>div>div h2{
    font-size: 50px;
}
main>div:nth-child(2)>div p, main>div:nth-child(4)>div p, 
main>div:nth-child(6)>div p{
    font-size: 17px;
    margin:25px 0 20px 0;
    text-align: justify;
}
main>div:nth-child(2)>div>a>div, main>div:nth-child(4)>div>a>div,
main>div:nth-child(6)>div>a>div{
    transition: .5s;
    height: 40px;
    width: 6em;
    border: 1px rgb(206, 206, 206) solid;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main>div:nth-child(2)>div>a>div:hover, main>div:nth-child(4)>div>a>div:hover,
main>div:nth-child(6)>div>a>div:hover{
    transition: .5s;
    border-color: rgb(145, 145, 145);
    background-color: rgb(206, 206, 206);
}
main>div:nth-child(2)>div>a>div, main>div:nth-child(4)>div>a>div,
main>div:nth-child(6)>div>a>div{
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(124, 124, 124);
    margin: 0;
}
main>div{         
    display: flex;
}
main>div>div:first-child, main>div>div:nth-child(2){
    margin: auto;
    width: 40%;
}
main>div>div:nth-child(2), main>div>div:first-child,
main>div:nth-child(9)>div{
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
main>div:nth-child(2)>div:nth-child(2){
    margin: 0;
    background-image: url(./pictures/1.jpg);
    background-position-x: 60%;
    height: 500px;
    width: 50%;
}
main>div:nth-child(4)>div:first-child{
    margin: 0;
    background-image: url(./pictures/2.jpg);
    background-position-x: 60%;
    height: 400px;
    width: 35%;
}
main>div:nth-child(6)>div:nth-child(2){
    margin: 0;
    background-image: url(./pictures/3.jpg);
    background-position-x: 60%;
    height: 400px;
    width: 35%;
}

main>div:nth-child(9){
    margin-bottom: 70px;
}
main>div:nth-child(9)>div{
   display: flex;
   align-items: center;
   height: 250px;
}
main>div:nth-child(9)>div:first-child, main>div:nth-child(9)>div:nth-child(2),
main>div:nth-child(9)>div:nth-child(3), main>div:nth-child(9)>div:last-child{
    transition: .5s;
    margin: 0;
}
main>div:nth-child(9)>div:hover{
    transition: .5s;
    background-color: rgba(0, 0, 0, 0.600);
    background-position: top;
}
main>div:nth-child(9)>div:first-child:hover{
    background-position-y: 70%;
    background-position-x: 0%;
}
main>div:nth-child(9)>div:nth-child(2):hover{
    background-position-y: 70%;
    background-position-x: 0%;
}
main>div:nth-child(9)>div:nth-child(3):hover{
    background-position-y: 100%;
    background-position-x: 80%;
}
main>div:nth-child(9)>div:last-child:hover{
    background-position-x: 0%;
}
main>div:nth-child(9)>div>div>div>h1{
    font-family: 'Garamond';
    font-size: 18px;
}
main>div:nth-child(9)>div>div>div h1,
main>div:nth-child(9)>div>div>div p,
main>div:nth-child(9)>div>div>div div{
    text-align: center;
}
main>div:nth-child(9)>div>div>div:last-child{
    display: flex;
    justify-content: center;
}
main>div:nth-child(9)>div>div>div:last-child>a>div{
    margin-top: 15px;
    padding: 5px 15px;
    border: 1px solid white;
    text-transform: uppercase;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main>div:nth-child(9)>div>div>div:last-child>a>div{
    color: white;
}
main>div:nth-child(9)>div>div>div:last-child p:hover{
    transition: .5s;
    background-color: rgba(255, 255, 255, 0.3);
}
main>div:nth-child(9)>div>div>div:last-child>div{
    width: 27%;
}
main>div:nth-child(9)>div:nth-child(3)>div>div:last-child>div{
    width: 80%;
}
main>div:nth-child(9)>div>div>div:first-child{
    margin-bottom: 30px;
}

main>div:nth-child(9)>div>div{
    transition: 1s;
    opacity: 0;
    font-size: 90%;
    color: rgb(255, 255, 255);
    padding: 0 10px;
    animation-name: text1;
    animation-duration: 1s;
}
main>div:nth-child(9)>div:hover>div{
    transition: .5s;
    opacity: 1;
    animation-name: text;
    animation-duration: 1s;
}
@keyframes text{
    0%{
        margin-bottom: -40px;
    }
    100%{
        margin-bottom: 0;
    }
}
@keyframes text1{
    0%{
        margin-bottom: 0px;
    }
    100%{
        margin-bottom: 40px;
    }
}

aside:nth-child(3), aside:nth-child(4){
    text-align: center;
    margin-bottom: 90px;
}
aside:nth-child(3)>h4{
    margin: 0 0 35px 0;
}
aside:nth-child(3)>div{
    display: flex;
    margin: 0 50px;
    flex-wrap: wrap;
}
aside:nth-child(3)>div>div{
    border: 1px solid rgb(145, 145, 145);
    width: 33%;
}
aside:nth-child(3)>div h5{
    font-weight: bold;
    font-size: 15px;
}
aside:nth-child(3)>div p{
    margin: 0 20% 50px 20%;
}
aside:nth-child(3)>div>div>div{
    margin: 50px auto 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
}
aside:nth-child(3)>div>div:first-child>div{
    background-image: url(./icons/airplane-48.png);
}
aside:nth-child(3)>div>div:nth-child(2)>div{
    background-image: url(./icons/map_marker-48.png);
}
aside:nth-child(3)>div>div:nth-child(3)>div{
    background-image: url(./icons/movie-48.png);
}
aside:nth-child(3)>div>div:nth-child(4)>div{
    background-image: url(./icons/alarm_clock-48.png);
}
aside:nth-child(3)>div>div:nth-child(5)>div{
    background-image: url(./icons/face-48.png);
}
aside:nth-child(3)>div>div:last-child>div{
    background-image: url(./icons/genius-48.png);
}
@media screen and (min-width: 850px){
    aside:nth-child(3)>div>div:first-child{
        border-top: none; border-left: none; border-right: none;
    }
    aside:nth-child(3)>div>div:nth-child(2){
        border-top: none;
    }
    aside:nth-child(3)>div>div:nth-child(3){
        border-top: none; border-right: none; border-left: none;
    }
    aside:nth-child(3)>div>div:nth-child(4){
        border-bottom: none; border-left: none; border-right: none;
    }
    aside:nth-child(3)>div>div:nth-child(5){
        border-bottom: none;
    }
    aside:nth-child(3)>div>div:last-child{
        border-bottom: none; border-right: none; border-left: none;
    }
    aside:nth-child(3)>div>div:nth-child(4), 
    aside:nth-child(3)>div>div:nth-child(5),
    aside:nth-child(3)>div>div:last-child{
        border-top: none;
    }

    main>div:nth-child(9)>div:first-child{
        background-image: url(./pictures/4.jpg);
        background-position-y: 70%;
        width: 30%;
    }
    main>div:nth-child(9)>div:nth-child(2){
        background-image: url(./pictures/5.jpg);
        background-position-x: 80%;
        background-position-y: 70%;
        width: 30%;
    }
    main>div:nth-child(9)>div:nth-child(3){
        background-image: url(./pictures/6.jpg);
        background-position-x: 80%;
        background-position-y: 100%;
        width: 10%;
    }
    main>div:nth-child(9)>div:last-child{
        background-image: url(./pictures/7.jpg);
        width: 30%;
    }
}
aside:nth-child(4){
    margin-bottom: 40px;
}
form>div{
    width: 65%;
    margin: auto;
}
form>div>div{
    display: flex;
}
form>div>div:first-child{
    justify-content: space-between;
}
form>div>div:nth-child(2),
form>div>div:first-child{
    margin-bottom: 20px;
}
form>div>div>div{
    text-align: start;
    width: 32%;
}

form>div>div:nth-child(2)>div:first-child{
    width: 97px;
}
form>div>div:nth-child(2)>div:last-child{
    display: flex;
    width: 88%;
}

form>div>div:first-child>div input,
form>div>div:nth-child(3) input,
form>div>div:nth-child(4) textarea{
    margin-top: 10px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 3px;
    padding: 10px;
    width: 90%;
}
.formtext{
    font-weight: 600;
    font-size: 15px;
}
input[type="radio"]{
    appearance: none;
    position: relative;
    margin: 0 15px 0 25px;
}
input[type="radio"]::before, input[type="radio"]:checked::before,
input[type="checkbox"]::before, input[type="checkbox"]:checked::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    top: -13px;
    left: -8px;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 20px;
}
input[type="radio"]::before, input[type="checkbox"]::before{
    background-color: rgb(196, 196, 196);
}
input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before{
    background-color: rgb(0, 117, 196);
}
form>div>div:nth-child(3)>div,
form>div>div:nth-child(4)>div{
    width: 100%;
}
form>div>div:nth-child(3) input,
form>div>div:nth-child(4) textarea{
    width: 97.2%;
    margin-bottom: 15px;
}
form>div>div:nth-child(3) input::placeholder{
    font-family: 'Garamand';
    color: rgb(87, 87, 87);
}
form>div>div:nth-child(4) textarea{
    height: 120px;
}
form>div>div:nth-child(5)>div:first-child,
form>div>div:nth-child(5)>div:last-child{
    display: flex;
    align-items: center;
}
input[type="checkbox"]{
    appearance: none;
    position: relative;
    margin: 0 25px 0 0;
}
input[type="checkbox"]::before, 
input[type="checkbox"]:checked::before{
    height: 10px;
    width: 10px;
    top: -7px;
    left: 0;
    border-radius: 4px;
}
form>div>div:nth-child(5)>div:last-child{
    justify-content: flex-end;
}
form>div>div:nth-child(5) button{
    text-transform: uppercase;
    color: rgb(94, 94, 94);
    border: 1px solid rgb(139, 139, 139);
    background-color: white;
    padding: 10px 25px;
    border-radius: 4px;
}
form>div>div:nth-child(5){
    justify-content: space-between;
}

footer{
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}
footer>ul{
    margin: 15px 0 10px 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
footer>ul li{
    border: 1px solid gray;
    margin: 20px 5px 20px 0;
    border-radius: 20px;
}
footer>ul div{
    background-repeat: no-repeat;
    background-size: 28px;
    background-position-x: center;
    background-position-y: center;
    height: 40px;
    width: 40px;
    filter: contrast(0.5);
}
footer>ul li:first-child div{
    background-image: url(./icons/twitter-128.png);
}
footer>ul li:nth-child(2) div{
    background-image: url(./icons/facebook-128.png);
}
footer>ul li:nth-child(3) div{
    background-image: url(./icons/instagram-2-128.png);
}
footer>ul li:nth-child(4) div{
    background-image: url(./icons/youtube-128.png);
}
footer>ul li:last-child div{
    background-image: url(./icons/gmail-128.png);
}


@media screen and (min-width: 601px) and (max-width: 849px){
    header>ul, header>nav>div>ul{
        font-size: 20px;
    }
    header>ul:last-child{
        opacity: 0;
        width: 0;
    }
    header>nav{
        width: 100%;
    }
    header>ul:nth-child(2)>li div{
        height: 0;
        width: 0;
    }
    main>div>div h2{
        font-size: 35px;
    }
    main{
        text-align: start;
    }
    main>h3{
        text-align: center;
    }
    main>div:nth-child(2)>div:nth-child(2){
        background-position-x: 60%;
    }
    main>div:nth-child(4)>div:first-child{
        background-position-x: 60%;
        width: 50%;
    }
    main>div:nth-child(6)>div:nth-child(2){
        background-position-x: 70%;
        width: 50%;
    }
    main>div:nth-child(9)>div:first-child{
        background-image: url(./pictures/4.jpg);
        background-position-y: 70%;
        width: 50%;
    }
    main>div:nth-child(9)>div:nth-child(2){
        background-image: url(./pictures/5.jpg);
        background-position-x: 80%;
        background-position-y: 70%;
        width: 50%;
    }
    main>div:nth-child(9)>div:nth-child(3),
    main>div:nth-child(9)>div:last-child{
        width: 0;
    }
    aside:nth-child(3)>div>div{
        width: 49%;
    }
    aside:nth-child(3)>div>div:first-child{
        border-top: none; border-left: none; border-bottom: none;
    }
    aside:nth-child(3)>div>div:nth-child(2),
    aside:nth-child(3)>div>div:last-child{
        border: none;
    }
    aside:nth-child(3)>div>div:nth-child(3){
        border-left: none;
    }
    aside:nth-child(3)>div>div:nth-child(4){
        border-right: none; border-left: none;
    }
    aside:nth-child(3)>div>div:nth-child(5){
        border-top: none; border-left: none; border-bottom: none;
    }
    aside:nth-child(3)>div>div:last-child{
        border: none;
    }
    form>div>div:first-child>div input{
        width: 83%;
    }
    form>div>div:nth-child(3) input,
    form>div>div:nth-child(4) textarea{
        width: 95%;
    }
    form>div>div:nth-child(2)>div:first-child{
        width: 106px;
    }
    footer>ul div{
        background-size: 25px;
        height: 35px;
        width: 35px;
    }
    footer{
        font-size: 13px;
    }
}

@media screen and (max-width: 600px){
    header>ul, header>nav>ul{
        font-size: 17px;
    }
    header>nav{
        align-items: center;
        justify-content: space-between;
    }
    header>nav>div{
        width: 30px;
        height: 30px;
        position: relative;
    }
    header>nav>div>div{
        margin-top: 3px;
        height: 6px;
        background-color: black;
        border-radius: 30px;
    }
    header>nav>div:hover>ul{
        opacity: 1;
        top: 35px;
        left: -70px;
    }
    header>nav>div>ul{
        opacity: 0;
        top: -9999px;
        position: absolute;
        background-color: rgb(185, 185, 185);
        width: 100px;
        padding: 10px;
        border-radius: 5px;
        transition: .5s opacity;
    }
    header>nav>div>ul>li{
        margin-left: 0;
        margin: 8px auto;
        border-bottom: 1px solid rgb(100, 100, 100);
    }
    header>nav{
        width: 100%;
    }
    header>ul:last-child{
        opacity: 0;
        width: 0;
    }
    header>ul:last-child>li div{
        height: 0;
        width: 0;
    }
    main>div>div h2{
        font-size: 35px;
    }
    main{
        text-align: start;
    }
    main>h3{
        text-align: center;
    }
    main>div{         
        flex-wrap: wrap;
    }
    main>div:nth-child(2)>div:nth-child(2),
    main>div:nth-child(4)>div:first-child,
    main>div:nth-child(6)>div:nth-child(2){
        width: 100%;
        order: 1;
    }
    main>div>div:nth-child(2), main>div>div:first-child, main>div:nth-child(9)>div{
        order: 2;
    }
    main>div>div:first-child, main>div>div:nth-child(2){
        margin: 50px auto;
        width: 80%;
    }
    main>div:nth-child(9)>div:first-child{
        background-image: url(./pictures/4.jpg);
        background-position-y: 70%;
        width: 100%;
    }
    main>div:nth-child(9)>div:nth-child(2), main>div:nth-child(9)>div:nth-child(3),
    main>div:nth-child(9)>div:last-child{
        opacity: 0;
        width: 0;
    }
    aside:nth-child(3)>div>div{
        width: 100%;
    }
    aside:nth-child(3)>div>div:first-child,
    aside:nth-child(3)>div>div:nth-child(2),
    aside:nth-child(3)>div>div:nth-child(3),
    aside:nth-child(3)>div>div:nth-child(4),
    aside:nth-child(3)>div>div:nth-child(5),
    aside:nth-child(3)>div>div:last-child{
        border: unset;
        border-bottom: 1px solid rgb(145, 145, 145);
    }
    form>div>div{
        display: unset;
    }
    form>div>div>div{
        width: 100%;
    }
    form>div>div:first-child>div input,
    form>div>div:nth-child(3) input,
    form>div>div:nth-child(4) textarea{
        width: 95%;
        margin-bottom: 15px;
    }
    form>div>div:nth-child(2)>div:first-child{
        width: 92px;
    }
    form>div>div:nth-child(2)>div:last-child{
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0 15px -15px;
        grid-row-gap: 5px;
    }
    form>div>div:nth-child(5)>input:before,
    form>div>div:nth-child(5)>input:checked::before{
        left: -12px;
    }
    form>div>div:nth-child(5){
        display: flex;
    }
    input[type="checkbox"]::before, input[type="checkbox"]:checked::before {
        top: -6px;
    }
    footer>ul div{
        background-size: 20px;
        height: 30px;
        width: 30px;
    }
    footer{
        font-size: 12px;
    }
}